Daily Weather Automation (GitHub).json
{
  "name": "Daily Weather Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "0e0ae4bb-beaa-4ef1-b918-4dfb03d7bdc5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fromEmail": "YOUR_SENDER_EMAIL",
        "toEmail": "YOUR_RECIPIENT_EMAIL",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.htmlBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1360,
        0
      ],
      "id": "be0203aa-e79f-4f3f-af5d-e5da3a5562bb",
      "name": "Send email",
      "webhookId": "44b58649-275a-48d1-922d-0d9a501f7aa2",
      "credentials": {
        "smtp": {
          "id": "lDbxzWaXMnUEq9iZ",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Collect ALL city results from previous node\nconst allCities = $input.all();\n\n// Count alerts (safer check)\nconst alertCount = allCities.filter(item => \n  item.json.alert_type && item.json.alert_type !== 'none'\n).length;\n\n// Get current date info\nconst today = new Date();\nconst dateString = today.toLocaleDateString('en-US', { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\nconst timeString = today.toLocaleTimeString('en-US', {\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: true\n});\n\n// Build individual city cards\nconst cityCards = allCities.map((item, index) => {\n  const data = item.json;\n  \n  // Handle undefined values safely\n  const city = data.city || 'Unknown City';\n  const country = data.country || '';\n  const temp = data.temperature !== undefined ? data.temperature : 0;\n  const tempUnit = data.temperature_unit || 'C';\n  const feelsLike = data.feels_like !== undefined ? data.feels_like : 0;\n  const condition = data.condition || 'N/A';\n  const humidity = data.humidity !== undefined ? data.humidity : 0;\n  const windSpeed = data.wind_speed !== undefined ? data.wind_speed : 0;\n  const sunrise = data.sunrise || 'N/A';\n  const sunset = data.sunset || 'N/A';\n  const weatherEmoji = data.weather_emoji || '🌤️';\n  const alertType = data.alert_type || 'none';\n  const alertMessage = data.alert_message || '';\n  const alertEmoji = data.alert_emoji || '⚠️';\n  \n  // Determine card color based on alert\n  let cardColor = '#f8f9fa';\n  let borderColor = '#dee2e6';\n  \n  if (alertType === 'heat') {\n    cardColor = '#fff3cd';\n    borderColor = '#ffc107';\n  } else if (alertType === 'frost') {\n    cardColor = '#d1ecf1';\n    borderColor = '#17a2b8';\n  } else if (alertType === 'precipitation') {\n    cardColor = '#cfe2ff';\n    borderColor = '#0d6efd';\n  } else if (alertType === 'wind') {\n    cardColor = '#f8d7da';\n    borderColor = '#dc3545';\n  }\n  \n  return `\n    <div style=\"background: white; border-left: 4px solid ${borderColor}; padding: 20px; margin: 15px 0; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n      <!-- City Header -->\n      <div style=\"display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;\">\n        <h2 style=\"margin: 0; color: #2c3e50; font-size: 24px;\">\n          ${weatherEmoji} ${city}${country ? ', ' + country : ''}\n        </h2>\n        <span style=\"background: ${cardColor}; padding: 5px 12px; border-radius: 20px; font-size: 14px; font-weight: bold; color: #495057;\">\n          ${temp}°${tempUnit}\n        </span>\n      </div>\n      \n      <!-- Weather Details Grid -->\n      <div style=\"display: grid; grid-template-columns: repeat(2, 1fr); gap: 12px; margin-bottom: 15px;\">\n        <div style=\"background: #f8f9fa; padding: 12px; border-radius: 6px;\">\n          <div style=\"font-size: 12px; color: #6c757d; margin-bottom: 4px;\">CONDITION</div>\n          <div style=\"font-size: 16px; color: #2c3e50; font-weight: 500;\">\n            ${condition.charAt(0).toUpperCase() + condition.slice(1)}\n          </div>\n        </div>\n        \n        <div style=\"background: #f8f9fa; padding: 12px; border-radius: 6px;\">\n          <div style=\"font-size: 12px; color: #6c757d; margin-bottom: 4px;\">FEELS LIKE</div>\n          <div style=\"font-size: 16px; color: #2c3e50; font-weight: 500;\">\n            ${feelsLike}°${tempUnit}\n          </div>\n        </div>\n        \n        <div style=\"background: #f8f9fa; padding: 12px; border-radius: 6px;\">\n          <div style=\"font-size: 12px; color: #6c757d; margin-bottom: 4px;\">💧 HUMIDITY</div>\n          <div style=\"font-size: 16px; color: #2c3e50; font-weight: 500;\">\n            ${humidity}%\n          </div>\n        </div>\n        \n        <div style=\"background: #f8f9fa; padding: 12px; border-radius: 6px;\">\n          <div style=\"font-size: 12px; color: #6c757d; margin-bottom: 4px;\">💨 WIND</div>\n          <div style=\"font-size: 16px; color: #2c3e50; font-weight: 500;\">\n            ${windSpeed} mph\n          </div>\n        </div>\n        \n        <div style=\"background: #f8f9fa; padding: 12px; border-radius: 6px;\">\n          <div style=\"font-size: 12px; color: #6c757d; margin-bottom: 4px;\">🌅 SUNRISE</div>\n          <div style=\"font-size: 16px; color: #2c3e50; font-weight: 500;\">\n            ${sunrise}\n          </div>\n        </div>\n        \n        <div style=\"background: #f8f9fa; padding: 12px; border-radius: 6px;\">\n          <div style=\"font-size: 12px; color: #6c757d; margin-bottom: 4px;\">🌇 SUNSET</div>\n          <div style=\"font-size: 16px; color: #2c3e50; font-weight: 500;\">\n            ${sunset}\n          </div>\n        </div>\n      </div>\n      \n      <!-- Alert Section (if applicable) -->\n      ${alertType !== 'none' && alertMessage ? `\n        <div style=\"background: ${cardColor}; border-left: 3px solid ${borderColor}; padding: 12px 15px; border-radius: 6px; margin-top: 10px;\">\n          <strong style=\"color: #856404;\">${alertEmoji} Alert:</strong>\n          <span style=\"color: #856404; margin-left: 8px;\">${alertMessage}</span>\n        </div>\n      ` : ''}\n    </div>\n  `;\n}).join('');\n\n// Build the complete HTML email\nconst htmlEmail = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Daily Weather Digest</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; background-color: #f0f2f5;\">\n  \n  <!-- Main Container -->\n  <div style=\"max-width: 700px; margin: 0 auto; padding: 20px;\">\n    \n    <!-- Header -->\n    <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 40px 30px; border-radius: 12px; text-align: center; margin-bottom: 20px; box-shadow: 0 4px 12px rgba(102, 126, 234, 0.4);\">\n      <h1 style=\"margin: 0 0 10px 0; font-size: 32px; font-weight: 700;\">\n        🌍 Daily Weather Digest\n      </h1>\n      <p style=\"margin: 5px 0; font-size: 18px; opacity: 0.95;\">\n        ${dateString}\n      </p>\n      <p style=\"margin: 10px 0 0 0; font-size: 14px; opacity: 0.85;\">\n        Monitoring ${allCities.length} cities worldwide\n        ${alertCount > 0 ? `<span style=\"background: rgba(255,255,255,0.2); padding: 4px 12px; border-radius: 12px; margin-left: 10px;\">⚠️ ${alertCount} Alert${alertCount > 1 ? 's' : ''}</span>` : ''}\n      </p>\n    </div>\n    \n    <!-- City Cards -->\n    <div style=\"margin-bottom: 20px;\">\n      ${cityCards}\n    </div>\n    \n    <!-- Footer -->\n    <div style=\"background: white; padding: 20px; border-radius: 8px; text-align: center; color: #6c757d; font-size: 13px; box-shadow: 0 2px 4px rgba(0,0,0,0.05);\">\n      <p style=\"margin: 0 0 8px 0;\">\n        🤖 <strong>Automated Weather Monitoring System</strong>\n      </p>\n      <p style=\"margin: 0 0 8px 0;\">\n        Powered by n8n Workflow Automation\n      </p>\n      <p style=\"margin: 0; color: #adb5bd;\">\n        Generated at ${timeString} | Data from OpenWeatherMap\n      </p>\n    </div>\n    \n  </div>\n  \n</body>\n</html>\n`;\n\n// Return single aggregated item\nreturn [{\n  json: {\n    subject: `🌍 Daily Weather Digest - ${allCities.length} Cities${alertCount > 0 ? ` (${alertCount} Alert${alertCount > 1 ? 's' : ''})` : ''} - ${dateString}`,\n    htmlBody: htmlEmail,\n    cityCount: allCities.length,\n    alertCount: alertCount,\n    timestamp: today.toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "a7c46270-9acd-41f4-94cb-c44c426b60ea",
      "name": "Aggregate All Cities"
    },
    {
      "parameters": {
        "jsCode": "// Define your cities to monitor (with country codes)\nconst cities = [\n  { name: 'London', country: 'GB' },\n  { name: 'New York', country: 'US' },\n  { name: 'Tokyo', country: 'JP' },\n  { name: 'Sydney', country: 'AU' },\n  { name: 'Paris', country: 'FR' }\n];\n\n// Configuration\nconst config = {\n  apiKey: 'YOUR_API_KEY',\n  units: 'imperial',  // ← You're using imperial\n  tempSymbol: '°F',   // ← Should be °F\n  heatThreshold: 90,  // ← Changed from 32°C to 90°F\n  frostThreshold: 32  // ← Changed from 0°C to 32°F\n};\n\n// Return one item per city (n8n will loop through them)\nreturn cities.map(city => ({\n  json: {\n    city: city.name,\n    countryCode: city.country,\n    apiKey: config.apiKey,\n    units: config.units,\n    tempSymbol: config.tempSymbol,\n    heatThreshold: config.heatThreshold,\n    frostThreshold: config.frostThreshold\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "2c2131e8-37c1-4baa-bbbc-0e5ff68a2238",
      "name": "Loop Through 5 cities"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.city }}"
            },
            {
              "name": "appid",
              "value": "={{ $json.apiKey }}"
            },
            {
              "name": "units",
              "value": "={{ $json.units }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "e8e3e6f8-b977-44f1-8761-ab590f8f98c3",
      "name": "OpenWeather API Request",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get weather data for THIS item (n8n loops automatically)\nconst weather = $input.item.json;\n\n// Extract city info\nconst city = weather.name || '';\nconst country = weather.sys?.country || $input.item.json.countryCode || '';\n\n// Extract and round weather metrics (already in Fahrenheit from API)\nconst temp = Math.round(weather.main.temp * 10) / 10;\nconst feelsLike = Math.round(weather.main.feels_like * 10) / 10;\nconst condition = weather.weather[0].description;\nconst conditionMain = weather.weather[0].main;\nconst humidity = weather.main.humidity;\nconst pressure = weather.main.pressure;\nconst windSpeed = Math.round(weather.wind.speed * 10) / 10; // Already in mph for imperial\nconst cloudiness = weather.clouds?.all || 0;\n\n// Calculate sunrise and sunset times\nconst sunrise = new Date(weather.sys.sunrise * 1000).toLocaleTimeString('en-US', { \n  hour: '2-digit', \n  minute: '2-digit',\n  hour12: true \n});\nconst sunset = new Date(weather.sys.sunset * 1000).toLocaleTimeString('en-US', { \n  hour: '2-digit', \n  minute: '2-digit',\n  hour12: true \n});\n\n// Get weather emoji\nconst getWeatherEmoji = (main, condition) => {\n  const condLower = condition.toLowerCase();\n  \n  if (condLower.includes('clear')) return '☀️';\n  if (condLower.includes('cloud')) return '☁️';\n  if (condLower.includes('rain') || condLower.includes('drizzle')) return '🌧️';\n  if (condLower.includes('snow')) return '❄️';\n  if (condLower.includes('storm') || condLower.includes('thunder')) return '⛈️';\n  if (condLower.includes('mist') || condLower.includes('fog')) return '🌫️';\n  \n  return '🌤️';\n};\n\nconst weatherEmoji = getWeatherEmoji(conditionMain, condition);\n\n// Determine alert type and message\nlet alertType = 'none';\nlet alertMessage = '';\nlet alertEmoji = '';\n\nconst conditionLower = condition.toLowerCase();\n\n// Check for precipitation\nif (conditionLower.includes('rain') || conditionLower.includes('drizzle') || \n    conditionLower.includes('storm') || conditionLower.includes('thunder') || \n    conditionLower.includes('snow')) {\n  alertType = 'precipitation';\n  alertEmoji = '⚠️';\n  alertMessage = 'Precipitation Expected - Bring an Umbrella!';\n}\n// Check for heat (Fahrenheit)\nelse if (temp > 90) {\n  alertType = 'heat';\n  alertEmoji = '🔥';\n  alertMessage = 'Heat Alert - Stay Hydrated!';\n}\n// Check for frost (Fahrenheit)\nelse if (temp < 32) {\n  alertType = 'frost';\n  alertEmoji = '❄️';\n  alertMessage = 'Frost Alert - Bundle Up!';\n}\n// Check for strong winds (mph)\nelse if (windSpeed > 30) {\n  alertType = 'wind';\n  alertEmoji = '💨';\n  alertMessage = 'Strong Wind Warning';\n}\n\n// Create formatted text summary\nconst textSummary = `${weatherEmoji} ${city}, ${country}\n━━━━━━━━━━━━━━━━━━━━\n🌡️  Temperature: ${temp}°F (Feels like ${feelsLike}°F)\n☁️  Conditions: ${condition.charAt(0).toUpperCase() + condition.slice(1)}\n💧 Humidity: ${humidity}%\n💨 Wind Speed: ${windSpeed} mph\n🌅 Sunrise: ${sunrise}\n🌇 Sunset: ${sunset}\n\n${alertMessage ? alertEmoji + ' ' + alertMessage : '✅ No Weather Alerts'}`;\n\n// Return structured data for THIS city\nreturn {\n  city: city,\n  country: country,\n  temperature: temp,\n  temperature_unit: 'F',\n  feels_like: feelsLike,\n  condition: condition,\n  condition_main: conditionMain,\n  humidity: humidity,\n  pressure: pressure,\n  wind_speed: windSpeed,\n  cloudiness: cloudiness,\n  sunrise: sunrise,\n  sunset: sunset,\n  weather_emoji: weatherEmoji,\n  alert_type: alertType,\n  alert_message: alertMessage,\n  alert_emoji: alertEmoji,\n  text_summary: textSummary,\n  raw_response: weather,\n  run_at: new Date().toISOString(),\n  run_date: new Date().toLocaleDateString('en-US', { \n    year: 'numeric', \n    month: 'long', \n    day: 'numeric' \n  })\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        0
      ],
      "id": "bb8229de-81a2-4e7f-9ed3-29993064a066",
      "name": "Extract the City Info",
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://PROJECT_ID.supabase.co/rest/v1/weather_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_API_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "city",
              "value": "={{ $json.city }}"
            },
            {
              "name": "temperature",
              "value": "={{ $json.temperature }}"
            },
            {
              "name": "feels_like",
              "value": "={{ $json.feels_like }}"
            },
            {
              "name": "temperature_unit",
              "value": "={{ $json.temperature_unit }}"
            },
            {
              "name": "condition",
              "value": "={{ $json.condition }}"
            },
            {
              "name": "humidity",
              "value": "={{ $json.humidity }}"
            },
            {
              "name": "wind_speed",
              "value": "={{ $json.wind_speed }}"
            },
            {
              "name": "pressure",
              "value": "={{ $json.pressure }}"
            },
            {
              "name": "visibility",
              "value": "={{ $json.visibility }}"
            },
            {
              "name": "sunrise",
              "value": "={{ $json.sunrise }}"
            },
            {
              "name": "sunset",
              "value": "={{ $json.sunset }}"
            },
            {
              "name": "day_length",
              "value": "={{ $json.day_length }}"
            },
            {
              "name": "cloud_coverage",
              "value": "={{ $json.cloud_coverage }}"
            },
            {
              "name": "uv_index",
              "value": "={{ $json.uv_index }}"
            },
            {
              "name": "weather_emoji",
              "value": "={{ $json.weather_emoji }}"
            },
            {
              "name": "alert_type",
              "value": "={{ $json.alert_type }}"
            },
            {
              "name": "raw_response",
              "value": "={{ $json.raw_response }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        0
      ],
      "id": "93213829-bbf3-4000-91b6-812753ac4856",
      "name": "Append the data to supabase",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-12-25T19:13:45.253-05:00",
          "Readable date": "December 25th 2025, 7:13:45 pm",
          "Readable time": "7:13:45 pm",
          "Day of week": "Thursday",
          "Year": "2025",
          "Month": "December",
          "Day of month": "25",
          "Hour": "19",
          "Minute": "13",
          "Second": "45",
          "Timezone": "America/New_York (UTC-05:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Loop Through 5 cities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through 5 cities": {
      "main": [
        [
          {
            "node": "OpenWeather API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeather API Request": {
      "main": [
        [
          {
            "node": "Extract the City Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract the City Info": {
      "main": [
        [
          {
            "node": "Append the data to supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append the data to supabase": {
      "main": [
        [
          {
            "node": "Aggregate All Cities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Cities": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0f6593a1-6ca6-4b60-9cdf-6a2b7048e390",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "600ac28ff39fc67e32d40373ee2844adef01c53d1a8b27354e139a032ffa4092"
  },
  "id": "13f7eE1uFWngYxtE",
  "tags": []
}